* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.track-info {
    color:white;
    font-size: 40px;
    position: absolute;
}
#thumbnail, #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;       /* Places it behind text */
    filter: blur(8px);
    /*transform: scale(1); /* Hides blurry edges */
}
#thumbnail {
    object-fit: contain;
}
#background {
    object-fit: cover;
}
html, body, .box {
    width: 100%;
    height: 100%;
    background: #2a2a2a;
    overflow: hidden;
    pointer-events: none;
}
.box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(0px);
    mix-blend-mode: screen;
}
.visualizer {
    position: relative;
    width: 300px; height: 300px;
    border-radius: 50%;
    filter: blur(4px) contrast(4);
}
#rayCanvas {
    position: fixed;
    top:0; left:0;
    width: 100vw; height: 100vh;
    pointer-events: none;
    will-change: filter, transform;
}