* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p {
    color:white;
    font-size: 40px;
}
html, body, .box {
    width: 100%;
    height: 100%;
    background: #2a2a2a;
    overflow: hidden;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(2px) contrast(10);
    mix-blend-mode: screen;
}
.visualizer {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: rgba(100%,100%,100%,100%);
    transition: .5s;
    transform: rotateZ(180deg);
}
.play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    background: #2a2a2a;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.element {
    position: absolute;
    top: 50%;
    left: 44%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border-top: 40px solid #d8baba;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    transform-origin: top center;
    transition: .10s;

    background: hsl(0, 48%, 66%);
}